<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/time/">Текущее время</a></li>
            <li><a href="/calc/">Калькулятор</a></li>
            <li><a href="/expression/">Выражение</a></li>
            <li><a href="/history/">История выражений</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>